.m-header-combobox {
    height: 40px;
    min-width: 100px;
    border-color: white;
    font-weight: bold;
    margin-left: 36px;
    padding: 8px;
    cursor: pointer;
}

.m-header-combobox:focus {
    outline: none;
}

.m-combobox {
    display: flex;
    height: 37px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    padding-left: 16px;
    /* cursor: pointer; */
    align-items: center;
    width: 100%;
    outline: unset;
    min-width: 100px;
}

.m-combobox:hover {
    border-color: #019160 ;
}
/*  */
.mcombobox {
    
    display: flex;
    position: relative;
}
.mcombobox input{
   
    border-radius:4px;
}
.mcombobox input:focus~button{
   
    border-color: #019160;
    color: #019160;
}
.mcombobox button{
    width: 40px;
    right: 8px;
    top: 2px;
    border-width:0 0 0 1px;
    border-left: 1px solid #bbbbbb;
    height: 41px;
    border-radius:0 4px 4px 0;
    box-sizing: border-box;
    position: absolute;
    
}
.mcombobox .m-combobox-data{
    position: absolute;
    display: none;
    top: 100%;
    width: 100%;
    border: 1px solid#ccc;
    box-shadow:0 2px 5px;
    background-color: #fff;
    z-index: 1;
}
.mcombobox .m-combobox-item{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 34px;
}
.mcombobox .m-combobox-item:hover,
.m-combobox-item-hover {
    background-color: #bbb !important;
    cursor: pointer;
}


/*  */
.m-combobox .m-combobox-text {
    border: none;
    color: #bbbbbb;
    width: 200px;
    font-size: 11px;
    outline: none;
}

.m-combobox .m-buttonDown {
    width: 50%;   
}

.m-combobox .m-buttonDown .m-btn-down {
    float: right;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.m-combobox .m-btn-down:hover {
    background-color: #e9ebee;
}

.m-combobox:focus {
    outline: none;
    border-color: #019160;
}
