.m-icon-search {
    background: url('../../assets/icon/search.png');
    background-repeat: no-repeat;
    background-position: 16px center;
}

.m-icon-table {
    padding-left: 8px;
}

.m-icon-default {
    width: 30px;
    height: 30px;
    margin: 8px;
    background: url('../../assets/icon/avatar-default.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.m-icon-bell {
    width: 30px;
    cursor: pointer;
}

.m-icon-option {
    width: 16px;
    height: 16px;
    background: url('../../assets/icon/option.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 8px 8px;
    cursor: pointer;
}

.m-icon-add {
    background: url('../../assets/icon/add.png');
    width: 16px;
    height: 16px;
    padding-left: 8px;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.m-icon-down {
    background: url('../../assets/icon/btn-down.svg');
    width: 8px;
    height: 8px;
    margin: 8px 8px;
    background-repeat: no-repeat;
}

.m-icon-backToStart {
    background: url("../../assets/icon/btn-firstpage.svg");
}

.m-icon-prePage {
    background: url("../../assets//icon/btn-prev-page.svg");
}

.m-icon-nextPage {
    background: url("../../assets/icon/btn-next-page.svg");
}

.m-icon-goToEnd {
    background: url("../../assets/icon/btn-lastpage.svg");
}

.m-icon-backToStart, .m-icon-prePage, .m-icon-nextPage, .m-icon-goToEnd  {
    width: 20px;
    height: 20px;
    margin: 0 6px;
    cursor: pointer;
}

.m-icon-dashboard {
    background: url('../../assets/icon/dashboard.png');
    background-size: contain;
}

.m-icon-report {
    background: url('../../assets/icon/report.png');
    background-size: contain;
}

.m-icon-dicEmployee {
    background: url('../../assets/icon/dic-employee.png');
    background-size: contain;
}

.m-icon-setting {
    background: url('../../assets/icon/setting.png');
    background-size: contain;
}

.m-icon-dashboard, .m-icon-report, .m-icon-dicEmployee, .m-icon-setting {
    width: 20px;
    height: 20px;
    margin: auto 0;
    margin-right: 8px;
}

.m-icon-toggle {
    width: 24px;
    height: 24px;
    background: url('../../assets/img/toggle.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.m-cukcuk-logo {
    width: 100%;
    height: 30px;
    background: url(../../assets/img/cukcuk-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 16px;
}

.m-icon-radio {
    background: url('../../assets/icon/radio.svg');
    width: 20px;
    height: 20px;
    margin: auto 0;
    margin-right: 8px;
    cursor: pointer;
}

.m-icon-x {
    background: url('../../assets/icon/x.svg');
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.m-default-avatar {
    background: url(../../assets/img/default-avatar.jpg) ;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    background-size: 100%;
    background-position: center;
}

