.m-employee-form {
    background-color: #fff;
    width: 770px;
    height: 900px;
    border-radius: 4px;
    margin-left: 20%;
    position: absolute;
    display: none;
    z-index: 2;
    left: 70px;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    border: 1px solid #888;
  
    box-shadow:0 2px 5px;
    
}

/* EMPLOYEE HEADER */

.m-employee-form .m-employee-header {
    width: 100%;
    height: 60px;
    display: flex;
    
}

.m-employee-header .m-header-text {
    flex: 2;
    color: #000000;
    width: 50%;
    height: 60px;
    font-size: 20px;
    padding: 16px;
    font-weight: bolder;
}

.m-employee-header .m-btn-esc {
    width: 24px;
    float: right;
}

.m-employee-header .m-btn-esc:hover {
    background-color: #E9EBEE;
}

/* EMPLOYEE NAVBAR */

.m-employee-form .m-employee-navbar {
    width: 220px;
    height: 680px;
    float: left;
}

.m-employee-navbar .m-default-avatar {
    margin: 16px 32px;
}

.m-employee-navbar .m-default-avatar:hover {
    opacity: 0.6;
}

.m-employee-navbar .m-navbar-text {
    padding: 0px 36px;
    text-align: center;
}

/* EMPLOYEE CONTENT */

.m-content-row {
    display: flex;
}

.m-employee-form .m-employee-content {
    width: calc(100% - 220px);
    height: 720px;
    float: right;
}

.m-employee-content>* {
    flex: 1;
    margin-top: 8px;
}

.m-underline-text {
    height: 4px;
    width: 70px;
    background-color: #019160;
    margin: 8px;
}

.m-employee-text span {
    color: red;
}

.m-employee-content .m-employee-text {
    padding: 0px 8px;
    color: #454545;
    font-weight: bolder;
}

.m-employee-content input {
    margin: 2px 8px;
    width: 220px;
}

.m-employee-content .m-dropdown {
    margin: 2px 8px;
    width: 220px;
}

.m-employee-content .m-datetime-picker {
    margin: 2px 8px;
    width: 230px;
}

.m-content-info, .m-content-job {
    width: 200px;
    height: 20px;
    font-size: 14px;
    padding: 0px 8px;
    font-weight: bold;
}

/* EMPL0YEE FOOTER */

.m-employee-form .m-employee-footer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #E9EBEE;
    justify-content: right;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.m-employee-footer button {
    margin: 0px 16px;
}