.m-content {
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
    background-color: #e9ebee;
    position: absolute;
    top: 61px;
    left: 221px;
}

.m-content .m-content-title {
    background-color: #ffffff;
    display: flex;
}

.m-content .m-content-title .m-title-left {
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
}

.m-content .m-content-title .m-add-employee {
    position: absolute;
    right: 16px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 16px;
}

.m-content-main {
    background-color: #ffffff;
    height: calc(100% - 177px);
    margin-top: 60px;
    overflow-y: scroll;
}