.m-navigation {
    height: 60px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.m-navigation .m-paging-center {
    display: flex;
    justify-content: center;
}

.m-navigation .m-paging-number {
    line-height: 24px;
    text-align: center;
    height: 24px;
    display: flex;
    justify-content: center;
}

.m-navigation .m-paging-center .m-paging-number div.m-page {
    min-width: 24px;
    height: 24px;
    margin: 0 5px;
    border: 1px solid #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.m-navigation .m-paging-center .m-paging-number div.m-page:hover {
    background-color: #bbbbbb;
}

.m-navigation .m-paging-center .m-paging-number div.m-page:active {
    background-color: #019160;
    color: #ffffff;
}

.m-paging-text-left {
    margin-left: 16px;
    cursor: pointer;
    font-weight: bold;
}

.m-paging-text-right {
    float: right;
    margin-right: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #ffffff;
}